.labyrinth{
    position: relative;
    width: 450px;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
.block{
    width: 30px;
    height: 30px;

    
   
}
.blockNone{
    /* position: absolute; */
    width: 30px;
    height: 30px;
    background-color: rgb(233, 233, 240);
   
}
.img{
    
  object-fit: cover;
  width: 30px;
    height: 30px;
}
.imgpac{
    
    padding-left: 2px;
    width: 25px;
    height: 25px;
    position: absolute;
     top: 60px; 
    /* top: var(--ejeX); */
     left: 150px; 
    /* left: var(--ejeY); */
}

/***************************************************/
/*********************CANVAS************************/
/***************************************************/


canvas{
   
    /* width: 450px;
    height: 330px; */
    background-color: greenyellow;
}